$black-0: #0D0E12;
$black-1:#1C1F25;

$plant:linear-gradient(180deg,rgba(175,219,27,0),rgba(175,219,27,.1));
$beast:linear-gradient(180deg,rgba(253,176,20,0),rgba(253,176,20,.1));
$bird:linear-gradient(180deg,rgba(250,89,160,0),rgba(250,89,160,.15));
$bug:linear-gradient(180deg,rgba(255,67,62,0),rgba(255,67,62,.15));
$aquatic:linear-gradient(180deg,rgba(0,245,248,0),rgba(0,245,248,.08));
$reptile:linear-gradient(180deg,rgba(153,103,251,0),rgba(153,103,251,.1));
$dawn:linear-gradient(180deg,rgba(113,137,142,0),rgba(113,137,142,.2));
$mech:linear-gradient(180deg,rgba(113,131,227,0),rgba(113,131,227,.15));
$dusk:linear-gradient(180deg,rgba(2,159,174,0),rgba(2,159,174,.15));